<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WhatsApp App</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h3>Welcome to my WhatsApp</h3>

    <div class="button-container">
      <form action="/chats/new" method="get">
        <button type="submit" class="btn new-chat">New Chat</button>
      </form>
    </div>

    <div class="chat-container">
      <% for (chat of chats) { %>
        <div class="chat">
          <p class="from">From: <%= chat.from %></p>
          <div class="message">
            <p><%= chat.message %></p>
          
          </div>
          <p class="to">Receive To: <%= chat.to %></p>
          <hr>
          <p><%=chat.created_at.toString().split(" ")[4]%></p><br>
          <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
          <hr>
          <form method="get" action="/chats/<%=chat._id%>/edit">
            <button type="submit" class="btn edit-chat">Edit</button>
          </form>  
            <form action="/chats/<%=chat._id%>?_method=DELETE" method="post">
              <button type="submit" class="btn delete-chat">Delete</button>
            </form>
        </div>
       
        </form>
      <% } %>
    </div>
    
  </body>
</html>
